//! **************************************************************************
// Written by: Map P.20131013 on Tue Apr 29 16:53:20 2014
//! **************************************************************************

SCHEMATIC START;
COMP "LCD_READ_WRITE" LOCATE = SITE "W13" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "R20" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "T19" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "U20" LEVEL 1;
COMP "LCD_DATA_BIT<0>" LOCATE = SITE "Y13" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "U19" LEVEL 1;
COMP "LCD_DATA_BIT<1>" LOCATE = SITE "AB18" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "V19" LEVEL 1;
COMP "LCD_DATA_BIT<2>" LOCATE = SITE "AB17" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "V20" LEVEL 1;
COMP "LCD_DATA_BIT<3>" LOCATE = SITE "AB12" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "Y22" LEVEL 1;
COMP "LCD_DATA_BIT<4>" LOCATE = SITE "AA12" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "W21" LEVEL 1;
COMP "LCD_DATA_BIT<5>" LOCATE = SITE "Y16" LEVEL 1;
COMP "LCD_DATA_BIT<6>" LOCATE = SITE "AB16" LEVEL 1;
COMP "LCD_DATA_BIT<7>" LOCATE = SITE "Y15" LEVEL 1;
COMP "BUTTON_SOUTH" LOCATE = SITE "T15" LEVEL 1;
COMP "LCD_ENABLE" LOCATE = SITE "AB4" LEVEL 1;
COMP "LCD_REGISTER_SELECT" LOCATE = SITE "Y14" LEVEL 1;
COMP "CLOCK_50MHZ" LOCATE = SITE "E12" LEVEL 1;
NET "CLOCK_50MHZ_BUFGP/IBUFG" PERIOD = 20 ns HIGH 40%;
SCHEMATIC END;

