// Switch
// NET "SWITCH<0>" LOC = "V8" | IOSTANDARD = LVTTL | PULLUP;
// NET "SWITCH<1>" LOC = "U10" | IOSTANDARD = LVTTL | PULLUP;
// NET "SWITCH<2>" LOC = "U8" | IOSTANDARD = LVTTL | PULLUP;
// NET "SWITCH<3>" LOC = "T9" | IOSTANDARD = LVTTL | PULLUP;



// Rotary push button
// NET "ROTARY_A" LOC = "T13" | IOSTANDARD = LVTTL | PULLUP;
// NET "ROTARY_B" LOC = "R14" | IOSTANDARD = LVTTL | PULLUP;
// NET "ROTARY_PUSH" LOC = "R13" | IOSTANDARD = LVTTL | PULLDOWN;



// LED
// NET "LED<7>" LOC = "W21" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4;
// NET "LED<6>" LOC = "Y22" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4;
// NET "LED<5>" LOC = "V20" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4;
// NET "LED<4>" LOC = "V19" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4;
// NET "LED<3>" LOC = "U19" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4;
// NET "LED<2>" LOC = "U20" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4;
// NET "LED<1>" LOC = "T19" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4;
// NET "LED<0>" LOC = "R20" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4;



// LCD
NET "LCD_ENABLE" LOC = "AB4" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_REGISTER_SELECT" LOC = "Y14" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_READ_WRITE" LOC = "W13" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_DATA_BIT<7>" LOC = "Y15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_DATA_BIT<6>" LOC = "AB16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_DATA_BIT<5>" LOC = "Y16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_DATA_BIT<4>" LOC = "AA12" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_DATA_BIT<3>" LOC = "AB12" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_DATA_BIT<2>" LOC = "AB17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_DATA_BIT<1>" LOC = "AB18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
NET "LCD_DATA_BIT<0>" LOC = "Y13" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;



// Button
// NET "BUTTON_EAST" LOC = "T16" | IOSTANDARD = LVTTL | PULLDOWN;
// NET "BUTTON_NORTH" LOC = "T14" | IOSTANDARD = LVTTL | PULLDOWN;
NET "BUTTON_SOUTH" LOC = "T15" | IOSTANDARD = LVTTL | PULLDOWN;
// NET "BUTTON_WEST" LOC = "U15" | IOSTANDARD = LVTTL | PULLDOWN;



// Clock
NET "CLOCK_50MHZ" LOC = "E12"| IOSTANDARD = LVCMOS33;
# Define clock period for 50MHz oscillator
NET "CLOCK_50MHZ" PERIOD = 20.0ns HIGH 40%;
